* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* FONT? */
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    /* background-color: #000; */
    background: linear-gradient(45deg, rgb(27, 27, 27) 0%, rgb(242, 169, 0) 100%);
    color: #fff;
}

.navbar li {
    list-style: none;
    padding: 1rem;
    /* color: #fff; */
}

.navbar a {
    text-decoration: none;
}

.navbar-logo {
    flex: 1;
    flex-basis: 0;
    flex-grow: 1;
    user-select: none;
    font-size: 1.5rem;
    /* color: #fff; */
}
  
.nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}


.hamburger-react {
    display: none;
}
  
@media screen and (max-width: 960px) {
    .navbar ul {
        flex-wrap: wrap;
    }
  
    .nav-links {
        text-align: center;
        width: 100%;
        background-color: #000;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .hamburger-react {
        display: block;
    }
  
    /* .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    } */
  }