* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    z-index: 1;
}

.navbar ul {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    background: linear-gradient(45deg, rgb(27, 27, 27) 0%, rgb(242, 169, 0) 100%);
    color: #fff;
    z-index: 1;
}

.navbar li {
    list-style: none;
    padding: 1rem;
    z-index: 1;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    z-index: 1;
}

.navbar-logo {
    flex: 1;
    user-select: none;
    font-size: 2rem;
}
  
.nav-item {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-item-hidden {
    display: none;
}

.hamburger-react {
    display: none;
}
  
@media screen and (max-width: 960px) {
    .navbar ul {
        flex-wrap: wrap;
    }
  
    .nav-item {
        text-align: center;
        width: 100%;
        background-color: #000;
    }

    .nav-item:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .nav-item:hover .nav-link {
        color: #242424;
    }

    .nav-item:hover .btn {
        color: #242424;
        border: 1px solid #000;
    }

    .hamburger-react {
        display: block;
    }
  }